*, *:before, *:after {

    box-sizing: inherit;
}

:root {

    font-size: 16px;
}

html {

    box-sizing: box-sizing;
}

html,
body {

    height: 100%;
}

body {

    padding-top: 52px;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}