.hero-section {

    position: relative;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;

    * {
        color: #fff;
        z-index: 100;
    }

    &__title {

        font-size: 3rem;
    }

    &:after {

        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        opacity: .9;
    }
}