.text-box {

    line-height: 2;

    &__header {

        padding: 2rem 0;
        font-size: 1.2rem;
        font-weight: 300;
        color: red;
    }

    &__body {

        color: #333;
        font-size: 1rem;
    }

    &__footer {

        padding-top: 2rem;
    }

}